[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Gal Amado (gamado)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Gal Amado (gamado)
	label-Verified = -1..+1 group user/Gal Amado (gamado)
	push = group user/Gal Amado (gamado)
	read = group user/Gal Amado (gamado)
	rebase = group user/Gal Amado (gamado)
	removeReviewer = group user/Gal Amado (gamado)
	submit = group user/Gal Amado (gamado)
[access "refs/heads/*"]
	create = group user/Gal Amado (gamado)
	push = +force group user/Gal Amado (gamado)
	pushMerge = group user/Gal Amado (gamado)
	read = group user/Gal Amado (gamado)
[access "refs/tags/*"]
	push = group user/Gal Amado (gamado)
	push = +force group user/Gal Amado (gamado)
